<div class="section-bg feedback section-light">
  <div class="section clearfix">
    <div class="box-head">
      <h2>Devotees Speak</h2>
    </div>
    <div class="feedbackWrap">
        <carousel [carouselType]="'feedbackCarousel'" [loop]="true" [grid]="{ xs: 1, sm: 1, md: 2, lg: 2, all: 0}"
        [carouselItems]="feedbackItems" [interval]="6000"></carousel>
    </div>
    <div class="view-more"><a href="javascript:void(0)" class="btn btn-danger"> View More <i class="fas fa-arrow-right"></i></a></div>
  </div>
</div>