<div class="section-bg curated section-dark">
  <div class="section clearfix">
    <div class="curated-experiences-section">
      <div class="box-head">
        <div class="icon"><i class="fab fa-3x fa-angellist"></i></div>
        <h2>Curated Experiences</h2>
        <div>
          Our experts constantly update the collection with the best experiences.
        </div>
      </div>
    </div>
    <div class="curated-experiences-section">
      <div class="box-head">
        <div class="icon"><i class="far fa-3x fa-check-circle"></i></div>
        <h2>100% Assurance &amp; Transparency</h2>
        <div>
          Fast donations/Booking and easy refunds with guaranteed security.
        </div>
      </div>
    </div>
    <div class="curated-experiences-section">
      <div class="box-head">
        <div class="icon"><i class="far fa-3x fa-thumbs-up"></i></div>
        <h2>Trusted By Devotees</h2>
        <div>
          500+ Devotees customers, 1000+ experiences.
        </div>
      </div>
    </div>
    <div class="curated-experiences-section">
      <div class="box-head">
        <div class="icon"><i class="fas fa-3x fa-rupee-sign"></i></div>
        <h2>Tax Benefit Reciepts</h2>
        <div>
          Get standard receipt issued by the trust. Tax benefit under section 80G.
        </div>
      </div>
    </div>
  </div>
</div>