<div class="temple-donations clearfix insider">
  <div class="section">
    <h1>Showing - {{templeList.length}} Temples in {{_commonService.currentCity}} and NearBy</h1>
    <div id="wrap">
      <div class="filterSection">
        <h4>Sort By: <select class="form-control mt-2"><option>Popularity</option><option>Distance</option></select></h4>

        <h4>Filters</h4>
        <div class="filterBox">
          <h5>Pooja Services</h5>
          <input type="text" [(ngModel)]="serviceName" placeholder="Enter Pooja Service...">
          <ul class="filterList">
            <li *ngFor="let service of poojaServices | searchFilter:serviceName:'serviceName'">
              <label>
                <div class="check-fake-box">
                  <input type="checkbox" (click)="setFilters($event, 'services', service.serviceName);"/>
                  <div class="check-fake unchecked"></div>
                  <div class="check-fake checked"><i class="fas fa-check"></i></div>
                </div>
                {{service.serviceName}}
              </label>
            </li>
          </ul>
        </div>
        <div class="filterBox">
          <h5>Select Range</h5>
          <input type="range" min="0" max="200" step='50' value="0" (input)="range($event)" class="mt-3">
          <span class="range">{{rangeValue}} KMS</span>
        </div>
        <div class="filterBox">
          <h5>Cities</h5>
          <input type="text" [(ngModel)]="cityName" placeholder="Enter City name..">
          <ul class="filterList">
            <li *ngFor="let popular of _commonService.completeCitilist | searchFilter:cityName:'cityName'">
              <label>
                <div class="check-fake-box">
                  <input [disabled]="rangeValue !== '0'" type="checkbox" (click)="setFilters($event, 'city', popular.cityName);"/>
                  <div class="check-fake unchecked"></div>
                  <div class="check-fake checked"><i class="fas fa-check"></i></div>
                </div>
                {{popular.cityName}}
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="main">
        <div class="contentSection">
          <!--<div class="filter-badge-sections">
            <span *ngFor="let tags of appliedFilters" class="badge badge-default">{{tags.filterData}} <i class="fas fa-times" (click)="setFilters($event, '',tags.filterData)"></i></span>
          </div>-->
          <div class="temple-list" *ngFor="let temples of templeList">
            <div class="certified" *ngIf="temples.Is_Authenticated !=='0'"></div>
            <div class="details">
              <a routerLink='../{{temples.URL}}'
                class="img">
                <div class="small-bg-img" [ngStyle]="{'background-image': 'url('+ _requestService.baseServiceUrl+'/' + temples.Image_Path + ')'}"></div>
              </a>
              <div class="desc clearfix">
                <a href="" class="badge badge-success mr-1" *ngFor="let gods of temples.Pooja_tabs">{{gods}}</a>
                <h3 class="mt-1">
                  <a routerLink="../{{temples.URL}}">{{temples.Temple_Name}}</a>
                </h3>
                <div class="address">{{temples.Address_Detail}}</div>
                <div class="services">
                  {{temples.Pooja_Services}}
                </div>
                <span class="badge badge-default ">{{temples.Distance}}</span>
              </div>
            </div>
            <div class="needs" *ngIf="temples.needs && temples.needs.length">
              <ul class="list-unstyled clearfix">
                <li *ngFor="let needs of temples.needs">
                  <label>{{needs.name}}</label>
                  <span><i class="fas fa-rupee-sign"></i> {{needs.value}}</span>
                </li>
              </ul>
            </div>
            <div class="cart-footer clearfix">
              <a href="tel:{{temples.Contact_No}}" class="enquiry"><i class="fas fa-phone"></i> Enquiry</a>
              <a href="javascript:void(0)" class="view_map" (click)="viewOnMap(temples.Address_Detail)"><i class="fas fa-map"></i>  View on Map</a>
              <a href="javascript:void(0)" class="donate"><i class="fas fa-rupee-sign"></i>  Donate Now</a>
            </div>
          </div>
        </div>
        <div class="sidebarSection">
          <popular-across-india [data]=acrossTemples></popular-across-india>
        </div>
      </div>
    </div>
  </div>
</div>