<div class="singlePage">
  <div class="section clearfix">
    <div class="sidebarSection">
      <div class="box-section" style="margin-top: 0">
        <ngui-map [center]="detail.Temple_Detail_Address" zoom="16" style="height:200px">
          <marker [icon]="{
         url: '../../assets/images/om-map.png',
         anchor: [16,16],
         size: [18,18],
         scaledSize: [18,18]
       }" [position]="detail.Temple_Detail_Address">
          </marker>
        </ngui-map>
      </div>
      <div class="box-section">
        <h4>Upcoming Events &amp; Festivals</h4>
        <carousel [carouselType]="'specialeventcarousel'" [loop]="true" [grid]="{ xs: 1, sm: 1, md: 1, lg: 1, all: 0 }" [carouselItems]="upcomingEvents"
          [interval]="5000"></carousel>

      </div>
      <div class="box-section">
        <h4>Upcoming Donation Camps</h4>
        <carousel [carouselType]="'specialeventcarousel'" [loop]="true" [grid]="{ xs: 1, sm: 1, md: 1, lg: 1, all: 0 }" [carouselItems]="specialEvent"
          [interval]="7000"></carousel>

      </div>
      <!--<div class="box-section">
        <h4>Temple Video</h4>
        <video controls width="100%" controlsList="nodownload">
          <source src="../assets/videos/devstories.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
        </video>

      </div>-->
      <near-by-temple></near-by-temple>

    </div>
    <div class="mainSection">
      <div class="mainSectionContent temple-detail">
        <div class="banner-head">
          <div class="mainBanner" [@photosAnimation]="3" [ngStyle]="{'background-image': 'url('+ _requestService.baseServiceUrl+'/' + detail.Image_Path + ')'}">
            <div class="subBanner">
              <a href="" class="quick-tag">
                50+ <span>Temple Needs</span>
              </a>
              <a href="" class="quick-tag">
                39+ <span>Available Pandits</span>
              </a>
              <a href="" class="quick-tag">
                150+ <span>Pooja Services</span>
              </a>
              <a href="" class="quick-tag">
                20+ <span>Temple Photos</span>
              </a>
            </div>
          </div>
          <h1>{{detail.Temple_Name}}
            <div class="connectivity f10">
              <i class="fas fa-car" placement="top" [tooltip]="connectivity.Parking_Desc"></i>
              <i class="fas fa-bus" placement="top" [tooltip]="connectivity.Bus_Stand"></i>
              <i class="fas fa-train" placement="top" [tooltip]="connectivity.Train_Connectivity"></i>
              <i class="fas fa-plane" placement="top" [tooltip]="connectivity.Airport_Connectivity"></i>
            </div>
          </h1>
          <p>{{detail.Temple_Detail_Address}} <span class="devotes">{{detail.Devotees}} devotes</span></p>
          <div class="open-hour">
            <div> <i class="fas fa-2x fa-bell"></i>
              <div>
                <h4>Temple Timing</h4><span>{{detail.Temple_Timings}}</span></div>
            </div>
            <div><i class="fab fa-2x fa-gripfire"></i>
              <div>
                <h4>Arti Timing</h4><span>{{detail.Aarti_Timings}}</span></div>
            </div>
            <div class="distance-from">
              <i class="fas fa-2x fa-map-marker-alt"></i>
              <div>
                <h4>{{connectivity.Distance}}</h4><span> from New Delhi</span></div>
            </div>
          </div>
        </div>
        <div class="temple-details-section">
          <tabset>
            <tab heading="Overview">
              <history [poojaService]="poojaService" [expertData]="experts" [gallery]="images"></history>
            </tab>
            <tab heading="Donation">
              <donation></donation>
            </tab>
            <tab heading="Experts">
              <expert [data]="experts"></expert>
            </tab>
            <tab heading="Pooja services">
              <detail-pooja-service [poojaService]="poojaService"></detail-pooja-service>
            </tab>
            <tab heading="Events &amp; Festivals">
              <detail-events-festivals></detail-events-festivals>
            </tab>
            <tab heading="Gallery">
              <temple-detail-photos [gallery]="gallery"></temple-detail-photos>
            </tab>
          </tabset>
        </div>
        <div class="comment-section">

          <div class="box-section">
            <div class="write-review">
              <h4>Write a Review</h4>
              <div class="review clearfix">
                <div class="user-img"><img src="../assets/users/user-default.png"></div>

                <div class="review-txt">
                  <input type="text" [(ngModel)]="ratingTitle" placeholder="Headline for your review" />
                  <div class="user-rating temple-rating" (click)="rating($event)">
                    <span value="5">☆</span><span value="4">☆</span><span value="3">☆</span><span value="2">☆</span><span value="1">☆</span>
                  </div>

                  <textarea class="form-control" [(ngModel)]="ratingDesc" maxlength="140" (keyup)="count = $event.target.value.length" placeholder="Write your review here"></textarea>
                  <div class="count">{{count}} / 140</div>

                </div>

                <div class="btn btn-success publish" (click)="postReview()">Publish Review</div>
              </div>
            </div>
          </div>
          <div class="box-section">
            <div class="review-section">
              <h4>Reviews ({{ reviews?.length || '0' }})</h4>
              <div class="review clearfix" *ngFor="let review of reviews">
                <div class="user-img" [ngStyle]="{'background-image':'url('+ _requestService.baseServiceUrl+'/' +review.User_Image+')'}"></div>
                <div class="user-detail">
                  <h5 class="f900 f15">{{review.User_Name}}</h5>
                  <div class="location f12"> {{review.User_Location}}</div>
                  <div class="rating">
                    <i class="fa-star fa-xs" [ngClass]="review.Rating == '5' ? 'fas' : 'far'"></i>
                    <i class="fa-star fa-xs" [ngClass]="review.Rating == '4' || review.Rating == '5' ? 'fas' : 'far'"></i>
                    <i class="fa-star fa-xs" [ngClass]="review.Rating == '3' || review.Rating == '4'  || review.Rating == '5' ? 'fas' : 'far'"></i>
                    <i class="fa-star fa-xs" [ngClass]="review.Rating == '2' || review.Rating == '3' || review.Rating == '4'  || review.Rating == '5' ? 'fas' : 'far'"></i>
                    <i class="fas fa-xs fa-star"></i>
                  </div>

                  <div class="title">{{review.UserReview}}</div>
                  <div class="review-txt f14" [innerHtml]="review.ReviewDesc"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>