<div id="mapOverlayWrap" [ngClass]="{'active':isMapOverlayOpend}">
  <div class="mapContent" *ngIf="isMapOverlayOpend">
    <div class="sidebarSection">
      <div class="heading-section">{{heading}}</div>
      <ul>
        <li *ngFor="let pos of positions;let i = index" [ngClass]="{'active': pos.address == centerAddress}">
          <div class="details">
            <div class="img" [ngStyle]="{'background-image': 'url('+ _requestService.baseServiceUrl+'/' + pos.Image_Path + ')'}"></div>
            <div class="desc clearfix">
              <h3 class="mt-1">{{pos.Temple_Name}}</h3>
              <div class="address">{{pos.Address_Detail}}</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="mainSection">
      <ngui-map center="{{centerAddress}}" zoom="16" style="height:100vh">
        <marker [icon]="{
         url: '../../assets/images/om-map.png',
         anchor: [16,16],
         size: [18,18],
         scaledSize: [18,18]
       }" *ngFor="let pos of positions;let i = index" [position]="pos.Address_Detail" (click)="clicked($event,i)">
          <info-window id="iw{{i}}">
            <div class="img" [ngStyle]="{'background-image': 'url('+ _requestService.baseServiceUrl+'/' + pos.Image_Path + ')'}"></div>
            <div class="desc clearfix">
              <h3 class="mt-1">{{pos.Temple_Name}}</h3>
              <div class="address">{{pos.Address_Detail}}</div>
            </div>
          </info-window>
        </marker>

      </ngui-map>

    </div>

  </div>
  <div class="closeMapOverlay"><i class="far fa-times-circle" (click)="closeOverlay()"></i></div>
</div>