<div class="temple-donations clearfix">
    <div class="section-bg section-light">
        <div class="section">
            <div class="box-head">
                <h2>Temple Donations</h2>
            </div>
            <div class="temple-donation-wrap">
                <div class="temple_list">
                    <ul class="list-unstyled">
                        <li *ngFor="let temple of temples; let i = index;" [ngClass]="{'active': i == 0}" (click)="showDetails($event);">
                            <a href="javascript:void(0)">
                                <div class="img" [ngStyle]="{'background-image': 'url(' + temple.thumb + ')'}"></div>
                                <h4>{{temple.name}}, {{temple.city}}</h4>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="temple_details clearfix">
                    <div class="temple_image" style="background-image: url('/assets/temples/Ranganathaswamy-lg.jpg');"></div>
                    <div class="details">
                        <div class="content">
                            <h3>Sri Ranganathaswamy Temple, Srirangam</h3>
                            <p>
                                The Sri Ranganathaswamy Temple or Thiruvarangam is a Hindu temple dedicated to Ranganatha, a reclining form of the Hindu
                                deity Vishnu, located in Srirangam, Tiruchirapalli, Tamil Nadu, India.
                            </p>
                            <div class="needs">
                                <h4>Temple Needs</h4>
                                <ul>
                                    <li><i class="fas fa-arrow-alt-circle-right"></i> Sed ut perspiciatis unde omnis iste natus
                                        error sit</li>
                                    <li><i class="fas fa-arrow-alt-circle-right"></i> Sed ut unde omnis iste natus error sit
                                    </li>
                                    <li><i class="fas fa-arrow-alt-circle-right"></i> Sed ut perspiciatis unde omnis iste natus
                                        error sit</li>
                                    <li><i class="fas fa-arrow-alt-circle-right"></i> Sed ut omnis iste natus error sit</li>
                                    <li><i class="fas fa-arrow-alt-circle-right"></i> Sed ut perspiciatis iste natus error sit
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
            <div class="trending">
               <span>Trending Temples:</span> <span class="badge badge-primary mr-1" *ngFor="let trend of trending; ">{{trend}}</span>
            </div>
            <div class="view-more"><a href="javascript:void(0)" class="btn btn-danger"> View More <i class="fas fa-arrow-right"></i></a></div>
        </div>
    </div>
</div>