<div class="section-bg why-us section-dark">
  <div class="section clearfix">
    <div class="box-head">
      <h2>Why Religious India</h2>
    </div>
    <div class="why-us-section">
      <div class="box-head">
        <div class="icon"><i class="fas fa-3x fa-gift"></i></div>
        <h2>Rewards Program</h2>
        <div>
          At Religious India, we believe you should have the most out of every rupee you donate. And so, we give you special reward
          points every time you donate throgh religious India.
        </div>
      </div>
    </div>
    <div class="why-us-section">
      <div class="box-head">
        <div class="icon"><i class="fas fa-3x fa-umbrella"></i></div>
        <h2>Hassle Free Donation</h2>
        <div>
          Fast donations/Booking and easy refunds with guaranteed security.
        </div>
      </div>
    </div>
    <div class="why-us-section">
      <div class="box-head">
        <div class="icon"><i class="fas fa-3x fa-trophy"></i></div>
        <h2>Best Deals Guaranteed</h2>
        <div>
          Being a customer-driven travel company, we fully understand the desires as well as compulsions of the traveler and take them
          into account while making travel deals.
        </div>
      </div>
    </div>
  </div>
</div>