<div class="section-bg pooja-service section-light">
    <div class="section">
        <div class="box-head">
            <h2>Pooja Services</h2>
            <h4>“Our Divine Pooja services are performed by the most educated &amp; prestigious priests.”</h4>
            <div class="support">
                <div><i class="fas fa-rss"></i> <span>Live Streaming</span></div>
                <div><i class="fas fa-play"></i> <span>Videos &amp; Photos</span></div>
                <div><i class="fas fa-language"></i> <span>Multi Language support</span></div>
            </div>
        </div>
        <carousel [carouselType]="'puja-services'" [grid]="{ xs: 2, sm: 2, md: 4, lg: 4, all: 0 }" [carouselItems]="pujaServicesItems"
            ></carousel>
            <div class="view-more"><a href="javascript:void(0)" class="btn btn-danger"> View More <i class="fas fa-arrow-right"></i></a></div>
    </div>
</div>