<div class="box-section">
  <div class="photos-list">
    <tabset>
      <tab heading="Photos">
        <ul class="list-unstyled clearfix gallery">
          <li *ngFor="let photos of images;let i = index">
            <a href="javascript:void(0)" class="small-bg-img" [ngStyle]="{'background-image': 'url('+ _requestService.baseServiceUrl+'/' + photos+')'}" (click)="open(i)">
              <h5 class="ellipsis">{{photos.title}}</h5>
            </a>
          </li>
        </ul>
      </tab>
      <tab heading="Videos">
        <ul class="list-unstyled clearfix gallery">
          <li *ngFor="let photos of videos">
            <a href="javascript:void(0)" class="small-bg-img" [ngStyle]="{'background-image': 'url('+ _requestService.baseServiceUrl+'/' + photos+')'}" (click)="open(i)">
              <h5 class="ellipsis">{{photos.title}}</h5>
            </a>
          </li>
        </ul>
      </tab>
    </tabset>

  </div>
</div>