<div class="section-bg gau-sewa section-dark" data-aos="fade-down">
  <div class="section clearfix">
    <div class="box-head">
      <h2>Gau Sewa</h2>
    </div>
    <div class="gau-sewa-section">
      <div class="text-section">
        Hindus are worshipers of nature’s forces. We worship Vayu, Agni, Varuna, Indra, Prithvi and so on. They are natural forces
        embodied in the form of gods. Not just nature, we also have an age old tradition of worshiping nature’s creations
        such as animals, plants and trees. One of the most venerated animals in Hinduism is the cow. Hindus often refer to
        cows as the mother of earth because they give a lot for the human race. Each and every product from a cow is beneficial
        to man. Though most people raise cows for milk and other dairy products, even the manure and urine of cows are considered
        to have medicinal properties and serve as excellent disinfectants. <br/><br/>Kamadhenu, the ancestor of all cows is regarded
        as a divine wish fulfilling cow. It is said in the Vedas that all Gods, Goddess, including the Trinity has their
        abode in the cow. It brings good fortune to those who worship it. Also worshiping mother Kamadhenu or Cow helps in
        cleansing them of their sins committed in this birth and the previous one. Many gems, animal and gods appeared when
        the Gods and Demons churned the milky ocean. One such animal is Kamadenu. This divine cow has the capacity to fulfill
        the very thought of a desire. Hindu Holy Scriptures like the Bhagwad Gita and the Mahabharata make several references
        to Kamadhenu. Other Vedic scriptures mention of Kamadhenu as Homadhenu meaning an entity from which commodities like
        clarified butter and milk etc. required for Vedic fire sacrifices are derived. Although, it is rare to find a temple
        dedicated to Kamadhenu, Hindus revere Cows as her mortal incarnation.
        <a class="btn btn-warning btn-lg mt-3">Donate</a>
      </div>
      <div class="gau-slider">
        <carousel [carouselType]="'gau-sewa'" [loop]="true" [grid]="{ xs: 1, sm: 1, md: 1, lg: 1, all: 0 }" [carouselItems]="gauSewaItems"
            [interval]="4000"></carousel>
      </div>
    </div>
    <div class="view-more"><a href="javascript:void(0)" class="btn btn-danger"> View More <i class="fas fa-arrow-right"></i></a></div>
  </div>
</div>