<div class="bhoj clearfix" data-aos="zoom-in">

  <div class="poster"><img src="../assets/images/bhoj.jpg">
    <div class="catering-desc">
      <h2 class="Tangerine">Brahmin Caterers Services</h2>
      <span>We Provide the Brahmin Catering Services for any Event / Ceremony, We deliver tasty food at your destination. We are providing the Quality Catering Services to our clients, our specialty includes pure vegetarian food with all types of varieties. </span>
      <div class="catering-button"><a class="btn btn-default" href="javascript:void(0)"> Catering Service Request <i class="fas fa-arrow-right"></i></a></div>
    </div>
  </div>
  <div class="section ">
    <div class="what-we-do">
      <h4 class="Montserrat"><span>What</span> we do</h4>
      <ul>
        <li>Professional brahmin caterers with 10 years+ experience.</li>
        <li>We will provide only quality &amp; tasty food catering service</li>
        <li>Will provide best quality ingredients for food preparation.</li>
        <li>Quality Brahmin Food Catering Services from INR 170 per Plate.</li>
      </ul>
    </div>
    <div class="how-it-works">
      <h4 class="Montserrat"><span>How</span> it works</h4>
      <div class="category"><i class="fas fa-clipboard-list"></i>
        <h5>Tell us what you want</h5>
        <div>Provide your accurate data to give best quotation for Catering</div>
      </div>
      <div class="category"><i class="fas fa-clipboard-check"></i>
        <h5>Receive Confirmation</h5>
        <div>Check the confirmation about finalized quotation for Catering</div>
      </div>
      <div class="category"><i class="fas fa-headphones"></i>
        <h5>Recieve Call from Caterer</h5>
        <div>Our professional Caterers will call you for finalize your event</div>
      </div>
    </div>
    <div class="submit-request forms-control">
      <h4>Catering Request Form</h4>
      <div class="row">
        <div>
          <input class="animate-input" onkeyup="this.setAttribute('value', this.value);" [(ngModel)]="request.name" type="text" value=""
            name="name" maxlength="100" autocomplete="off" />
          <label class="animate-label">Your Name</label>
        </div>
        <div>
          <input class="animate-input" onkeyup="this.setAttribute('value', this.value);" [(ngModel)]="request.email" type="text" value=""
            name="email" autocomplete="off" />
          <label class="animate-label">Email Id</label>
        </div>
      </div>
      <div class="row">
        <div>
          <input class="animate-input" onkeyup="this.setAttribute('value', this.value);" [(ngModel)]="request.phone" type="text" value=""
            name="phoneno" maxlength="100" autocomplete="off" />
          <label class="animate-label">Phone Number</label>
        </div>
        <div>
          <input class="animate-input" onkeyup="this.setAttribute('value', this.value);" [(ngModel)]="request.address" type="text"
            value="" name="address" autocomplete="off" />
          <label class="animate-label">Your Address</label>
        </div>

      </div>
      <div class="row">
        <div>
          <input class="animate-input" onkeyup="this.setAttribute('value', this.value);" [(ngModel)]="request.eventname" type="text"
            value="" name="eventname" maxlength="100" autocomplete="off" />
          <label class="animate-label">Event Name</label>
        </div>
        <div>
          <input class="animate-input" onkeyup="this.setAttribute('value', this.value);" [(ngModel)]="request.eventDate" type="text"
            value="" name="eventDate" autocomplete="off" />
          <label class="animate-label">Event Date</label>
        </div>
      </div>
      <div class="row">
        <div>
          <input class="animate-input" onkeyup="this.setAttribute('value', this.value);" [(ngModel)]="request.evetTime" type="text"
            value="" name="eventTime" maxlength="100" autocomplete="off" />
          <label class="animate-label">Event Time</label>
        </div>
        <div>
          <input class="animate-input" onkeyup="this.setAttribute('value', this.value);" [(ngModel)]="request.eventLocation" type="text"
            value="" name="eventLocation" autocomplete="off" />
          <label class="animate-label">Event Location</label>
        </div>
      </div>
      <div class="row">
        <div>
          <label>Catering Type</label>
          <select class="form-control"><option>Semi Classic</option><option>Classic</option><option>Delux</option></select>

        </div>
        <div>
          <label>Number of Brahmins to cater</label>
          <select class="form-control">
            <option>11 Brahmin</option>
            <option>21 Brahmin</option>
            <option>51 Brahmin</option>
            <option>101 Brahmin</option>
            <option>201 Brahmin</option>
            <option>501 Brahmin</option>
          </select>
        </div>
      </div>
      <div class="row " style="float: right">
        <a class="btn btn-default" href="javascript:void(0)"> Send Me Quotation</a>
      </div>
    </div>
  </div>
</div>