<div class="user-cart">
  <div class="section">
    <div class="right-section">
      <div class="delivery-address">
        <h4><i class="fas fa-truck"></i> Delivery Address</h4>
        <div class="address">
          <div>
            <div class="user-name">User Name</div>
            <div class="address-line-1">Address Line 1</div>
            <div class="address-line-2">Address Line 1</div>
            <div class="city">City - Pincode</div>
            <div class="address-line-1">Mobile: **********</div>
          </div>
        </div>
      </div>
      <div class="add-more"><a href="javascript:void(0)">Add a New Address</a></div>
      <div class="payment-summary">
        <h4><i class="fas fa-credit-card"></i> Payment Summary</h4>
        <div class="detail">
          <div class="type">Subtotal: <label>Rs. 400</label></div>
          <div class="type">GST: <label>Rs. 99</label></div>
          <div class="total">Total: <label>Rs. 499</label></div>
        </div>

      </div>
      <div class="proceed"><a href="#" class="btn btn-success">Proceed to Pay Rs 499</a></div>
    </div>
    <div class="left-section">
      <div class="cart-section"><i class="fas fa-shopping-bag"></i> 2 items in your Shopping Bag</div>
      <div class="order-list">
        <div class="order">
          <div class="detail">
            <a class="img" title="Badrinath Temple" href="/temple-donation">
              <div style="background-image: url(/assets/temples/Ramaswamy.jpg)"></div>
            </a>
            <div class="desc">
              <div class="detail-desc">
                <a ng-reflect-router-link="..//temple-donation" href="/temple-donation">
                  <h4>Badrinath Temple</h4>
                </a>
                <div class="donation-type">Food Donation</div>
              </div>
              <div class="amount-discount">
                <div class="donation-amount"><input type="text" name="donation" value="499"></div>

              </div>
              <div class="items-btn">
                <div><a href="javascript:void()">Remove item</a> <a href="javascript:void()">Add to wishlist</a> </div>

              </div>
            </div>
          </div>
        </div>
        <div class="order">
          <div class="detail">
            <a class="img" title="Badrinath Temple" href="/temple-donation">
              <div style="background-image: url(/assets/temples/jagannath.jpg)"></div>
            </a>
            <div class="desc">
              <div class="detail-desc">
                <a ng-reflect-router-link="..//temple-donation" href="/temple-donation">
                  <h4>Jagannath Temple</h4>
                </a>
                <div class="donation-type">Food Donation</div>
              </div>
              <div class="amount-discount">
                <div class="donation-amount"><input type="text" name="donation" value="499"></div>

              </div>
              <div class="items-btn">
                <div><a href="javascript:void()">Remove item</a> <a href="javascript:void()">Add to wishlist</a> </div>

              </div>
            </div>
          </div>

        </div>
        <div class="total">
          Total: <span>Rs. 998</span>
        </div>
      </div>
    </div>
  </div>
</div>