<div class="section-footer">
  <div class="section clearfix">
    <div class="download-section clearfix">
      <div class="download-app">
        <h3>DOWNLOAD THE APP</h3>
        <div>
          <img src="../assets/images/app-store.png" />
          <img src="../assets/images/google-play.png" />
        </div>
      </div>
      <div>
        <h3>SUBSCRIBE US</h3>
        <div class="subscribe"><input type="text" class="input-md form-control" placeholder="Email ID" />
          <a class="btn btn-primary">Submit</a>
        </div>
      </div>
      <div class="connect">
        <h3>CONNECT</h3>
        <div>
          <i class="fas fa-3x fa-rss"></i>
          <i class="fab fa-3x fa-facebook-f"></i>
          <i class="fab fa-3x fa-twitter"></i>
          <i class="fab fa-3x fa-youtube"></i>
          <i class="fab fa-3x fa-linkedin-in"></i>
        </div>
      </div>
    </div>
    <hr/>
    <div class="clearfix about-religios-india">
      <div class="religios-india-footer-section">
        <h3>About Religious India</h3>
        <div>
          <a href="javascript:void(0)">About Us</a>
          <a href="javascript:void(0)">Awards</a>
          <a href="javascript:void(0)">Careers</a>
          <a href="javascript:void(0)">Contact Us</a>
        </div>
      </div>
      <div class="religios-india-footer-section">
        <h3>Explore</h3>
        <div>
          <a href="javascript:void(0)">Write a Review</a>
          <a href="javascript:void(0)">Privacy Policy</a>
          <a href="javascript:void(0)">ReligiousLeaders</a>
          <a href="javascript:void(0)">Support</a>
        </div>
      </div>
      <div class="religios-india-footer-section">
        <h3>For Pandit</h3>
      </div>
    </div>
    <hr/>
    <div class="copyright">
    <p>&copy; 2018 ReligiousIndia Online Private Limited, India. All rights reserved.<br/>
    ReligiousIndia is not responsible for content on external websites. Taxes, fees not included for deals content.
    </p>
    </div>
  </div>
</div>